<div class="card bg-dark shadow" [ngClass]="{'mb-5': audioPlayer!=''}">
    <div class="card-body">
        <div class="row">
            <div class="col-6 col-md-1 order-0 order-md-0">
                <a class="h-100 float-start d-flex align-items-center" [routerLink]="['/','hymn', PrevHymn]">
                    <span class="bi-chevron-compact-left fs-1 text-light"></span>
                </a>
            </div>
            <div class="col-12 col-md-10 text-center order-2 order-md-1">
                <h4 class="card-title">{{SelectedHymn.titulo}}</h4>
                <p class="card-text">
                    <ng-template ngFor let-verso [ngForOf]="SelectedHymn.versos">
                        <ng-template [ngIf]="verso.trim()!=''" [ngIfElse]="lineBreak">
                            {{verso}}<br/>
                        </ng-template>
                    </ng-template>
                </p>
                <ng-template #lineBreak>
                    <br/>
                </ng-template>
            </div>
            <div class="col-6 col-md-1 order-1 order-md-2">
                <a class="h-100 float-end d-flex align-items-center" [routerLink]="['/','hymn', NextHymn]">
                    <span class="bi-chevron-compact-right fs-1 text-light"></span>
                </a>
            </div>
        </div>
    </div>
  </div>
  <ng-template [ngIf]="audioPlayer!=''">
    <div class="fixed-bottom bg-secondary">
        <div class="row">
            <div class="col-12 text-center p-0" [innerHTML]="audioPlayer"></div>
        </div>
    </div>
  </ng-template>
  