<div class="card bg-dark shadow" [ngClass]="{'mb-5': audioPlayer!=''}">
    <div class="card-body">
        <div class="row">
            <div class="col-6 col-md-1 order-0 order-md-0">
                <a class="h-100 float-start d-flex align-items-center" [routerLink]="['/','hymn', PrevHymn]">
                    <span class="bi-chevron-compact-left fs-1 text-light"></span>
                </a>
            </div>
            <div class="col-12 col-md-10 text-center order-2 order-md-1">
                <h4 class="card-title">{{SelectedHymn.titulo}}</h4>
                <h5 class="card-subtitle mb-2 text-muted">Himno {{SelectedHymn.numero}}</h5>
                <ng-template ngFor let-subtema [ngForOf]="SelectedHymn.tema.subtema">
                    <span [routerLink]="['/index']" [queryParams]="{ tag: subtema }" class="user-select-none badge bg-secondary me-1">{{subtema}}</span>
                </ng-template>
                <p class="card-text mt-3">
                    <ng-template ngFor let-verso [ngForOf]="SelectedHymn.versos">
                        <ng-template [ngIf]="verso.trim()!=''" [ngIfElse]="lineBreak">
                            <ng-template [ngIf]="verso[0]=='>'" [ngIfElse]="normal">
                                <span class="fst-italic">{{verso.substring(1)}}</span><br/>
                            </ng-template>
                            <ng-template #normal>
                                <span class="fst-normal">{{verso}}</span><br/>
                            </ng-template>
                        </ng-template>
                    </ng-template>
                </p>
                <ng-template #lineBreak>
                    <br/>
                </ng-template>
            </div>
            <div class="col-6 col-md-1 order-1 order-md-2">
                <a class="h-100 float-end d-flex align-items-center" [routerLink]="['/','hymn', NextHymn]">
                    <span class="bi-chevron-compact-right fs-1 text-light"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-items-center justify-content-center h-100 mt-4">
    <div class="w-100 text-center">
        <span class="text-muted" style="font-size: 0.7rem">
            Por Eliezer Chavez 2023 | ea.chavarria95@gmail.com 
        </span>
    </div>
</div>

  <ng-template [ngIf]="isOnline()">
    <div class="fixed-bottom bg-secondary">
        <div class="row" >
            <div class="col-12 text-center p-2" *ngIf="!showPlayer">
                <div class="btn btn-outline-light" (click)="showAudioPlayer()">
                    <span class="bi-file-earmark-play"></span> Escuchar música del Himno
                </div>
            </div>
            <div class="col-12 text-center p-0" [innerHTML]="audioPlayer" *ngIf="showPlayer"></div>
        </div>
    </div>
  </ng-template>
  