<div class="card bg-dark shadow">
    <div class="card-body">
        <!-- <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8 text-center">
                <a class="btn btn-secondary" [routerLink]="['/index']">
                    <span class="bi-arrow-bar-left"></span> Indice
                </a>
            </div>
            <div class="col-sm-2"></div>
        </div> -->
        <div class="row">
            <div class="col-6 col-md-1 order-0 order-md-0">
                <a class="h-100 float-start d-flex align-items-center" [routerLink]="['/','hymn', PrevHymn]">
                    <span class="bi-chevron-compact-left fs-1 text-light"></span>
                </a>
            </div>
            <div class="col-12 col-md-10 text-center order-2 order-md-1">
                <h4 class="card-title">{{SelectedHymn.titulo}}</h4>
                <p class="card-text">
                    <ng-template ngFor let-verso [ngForOf]="SelectedHymn.versos">
                        <ng-template [ngIf]="verso.trim()!=''" [ngIfElse]="lineBreak">
                            {{verso}}<br/>
                        </ng-template>
                    </ng-template>
                </p>
                <ng-template #lineBreak>
                    <br/>
                </ng-template>
            </div>
            <div class="col-6 col-md-1 order-1 order-md-2">
                <a class="h-100 float-end d-flex align-items-center" [routerLink]="['/','hymn', NextHymn]">
                    <span class="bi-chevron-compact-right fs-1 text-light"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center" [innerHTML]="audioPlayer">
                
            </div>
        </div>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    </div>
  </div>
